$view-width: 80%;

* {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  color: black;
}


#wrap {
    &:hover a:not(:hover) {
    color: rgba(0,0,0,0.5);
  }
}

nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.7);
  border: 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-image: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%) 5%;
  border-image: -webkit-linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%) 5%;

}

#logo {
  position: absolute;
  display: inline-block;
  height: 4vw;
}


#menu {
  margin: 0 auto;
  display: flex;
  width: $view-width;
  justify-content: flex-end;
  -webkit-font-smoothing: antialiased;
  // width: $view-width;
  box-sizing: border-box;
  & > #wrap > * {
  display: inline-block;
  margin: 0.7vw 0;
  }
  & input,a {
    padding: 1vw;
    text-decoration: none;

    transition: all 200ms;
  }
}

#buy-now-button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-size: 1vw;
  outline: none;
  border: 1px solid rgba(0,0,0,0.7);
    &:hover {
      background-color: rgba(255,255,255,0.8);
      border: 1px solid rgba(0,0,0,0.3);
      box-shadow: 0 0 5px 5px white;
    }
    &:active {
      background-color: rgba(0,0,0,0.5);
    }
}

#cta-button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #FF5F0D;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-weight: 200;
    font-size: 1.3vw;
    outline: none;
    color: white;
    padding: 1.3vw;
    border: none;
    transition: background-color 100ms;
      &:hover {
        background-color: #FF530D;
      }
      &:active {
        background-color: #FF7C0D;
      }
  }



#section-intro {
  background-image: url("../media/bg2.jpeg");
  background-size: cover;
  width: 100vw;
}

main {

  height: 50vw;
  text-align: left;
  position: relative;
  top: 30vh;
  left: 10vw;
  width: 30vw;
  margin: 0 auto;
  img {
    display: block;
    margin: 0 auto;
    width: 20vw;
    border-radius: 10px;
  }
  h1 {
    font-weight: 700;
    font-size: 3rem;

  }
  h1, h2 {
    padding-bottom: 1vw;
    text-transform: capitalize;
  }
}
